<<<<<<< HEAD
@font-face {
    font-family: 'ye';
    src: url('./YungJakesNewHandwriting-Regular.ttf') format('opentype');
}


.ye {
    font-family: 'ye', sans-serif;
}

=======
@font-face {
    font-family: 'ye';
    src: url('./YungJakesNewHandwriting-Regular.ttf') format('opentype');
}


.ye {
    font-family: 'ye', sans-serif;
}

>>>>>>> 403d178676ee4346194521038af34fa94281adae
