


body {
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  max-width: 100vw;
  color: var(--devui-text, #252b3a);
  background-color: var(--devui-base-bg, #ffffff);
}

#app {
  text-align: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

::-webkit-scrollbar {
  /*高宽分别对应横竖滚动条的尺寸*/
  width: 8px;
  height: 8px;
}

/*滚动条里面小方块*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #888888;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  opacity: 1;
}